@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --color1: hsl(0, 0%, 100%);
    --color2: hsl(212, 45%, 89%);
    --color3: hsl(220, 15%, 55%);
    --color4: hsl(218, 44%, 22%);

    --ff-one: 'Outfit', sans-serif;

    --fw-one: 400;
    --fw-two: 700;
}

*, *::before, *::after { 
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: var(--ff-one);
    background-color: var(--color2);
}

.container {
    width: 90%;
    max-width: 300px;
    background-color: var(--color1);
    padding-top: 15px;
    margin: 25px auto;
    border-radius: 10px;
}

.img-div, .text-div {
    width: 90%;
    margin-inline: auto;
}

.img-div > img {
    border-radius: 10px;
}

p {
    text-align: center;
}

.bold-paragraph {
    font-weight: var(--fw-two);
    color: var(--color4);
    font-size: 20px;
    margin-block: 18px;
    padding-inline: 10px;
}

.second-paragraph {
    padding:0 10px  30px;
    font-size: 15px;
    font-weight: var(--fw-one);
    color: var(--color3);
}

@media screen  and (min-width: 750px) {
    body {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}